<launch>
  
    <!-- Launch Gazebo  -->
    <include file="$(find marm_gazebo)/launch/dual_arm_world.launch" />

    <!-- ros_control arm launch file -->
    <include file="$(find marm_gazebo)/launch/dual_arm_gazebo_states.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find marm_gazebo)/launch/dual_arm_trajectory_controller.launch" />

    <!-- moveit launch file -->
    <!--include file="$(find marm_moveit_config2)/launch/moveit_planning_execution.launch" /-->

</launch>
