<launch>
  
    <!-- Launch Gazebo  -->
    <include file="$(find marm_gazebo)/launch/marm_world.launch" />
    <!--include file="$(find marm_gazebo)/launch/dual_arm_world.launch" /-->
    <!-- ros_control arm launch file -->
    <include file="$(find marm_gazebo)/launch/marm_gazebo_states.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find marm_gazebo)/launch/marm_trajectory_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find marm_moveit__config3)/launch/moveit_planning_execution.launch" />

</launch>
